%%% -*- mode: erlang -*-
{lib_dirs, ["deps","apps"]}.
{sub_dirs, ["rel"]}.
{edoc_opts, [{preprocess, true}]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{deps, [
	{monterl_carlo, ".*",
	 {git, "git://github.com/nisbus/monterl_carlo.git","master"}
	},
	{cowboy, ".*",
	 {git, "git://github.com/extend/cowboy.git", "master"}
	},
	{jsx, ".*",
	 {git, "git://github.com/talentdeficit/jsx.git","master"}
	}
]}.
